<div {{ split-view 
        direction  = @direction 
        sizes      = @sizes 
        minSize    = @minSize
        gutterSize = @gutterSize 
     }} 
     class = {{@class}} 
   >

{{yield}}

</div>
